RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
QUEUE_RAW_NEWS=raw_financial_news
QUEUE_ANALYZED_SENTIMENT=analyzed_sentiment

REDIS_HOST=redis
REDIS_PORT=6379

CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

LLM_HOST=
LLM_MODEL=qwen3:8b